@import '../utils/variables.scss';

.home {
    background-color: $black;
    height: 115vh;
}


.imgContainer {
    position:absolute;
    right:80px;
    top: 140px;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}



.img-nasa{
    width: 1200px;
    z-index: 0;
    
}

.info-nasa{
    margin-top: 100px;
    justify-content:flex;
    flex-direction:column;
    justify-content:center;
    color: $white;
    position:absolute;
    left:120px;
    width:400px;
    min-width: 300px;
    height: 500px;
    z-index: 1;
}



.fade-in{
    animation: fadeIn ease 7s;
    -webkit-animation: fadeIn ease 7s;
    -moz-animation: fadeIn ease 7s;
    -o-animation: fadeIn ease 7s;
    -ms-animation: fadeIn ease 7s;
}

.info-container{
    justify-content:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



@media screen and (max-width: 830px){
    #imagen-nasa{
        width: 600px
    }
    .info-nasa{
        position:absolute;
        left: 30px;
        top: 0px;
        width:600px;
        margin-top:0
    }

}

@media screen and (max-width:1800px){
    .img-nasa{
        position:absolute;
        top: 100px;
        width: 800px;
        z-index: 0;
    }
    .imgContainer {
        position:static;
        top: 100px;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .info-nasa{
        position:relative;
        left: 30px;
        top: 700px;
        width:600px;
    }
}

@media screen and (max-width: 640px){
    #imagen-nasa{
        width: 450px;
    }
    .info-nasa{
        top: 600px;
        width: 350px
    }
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


