@import '../utils/variables.scss';

.landingsList{
    background-color: $black;
    height: 150vh
}

.cardsContainer{
    margin-top:50px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.pagination{
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
