@import '../utils/variables.scss';

.formContainer{
     padding: 10px;
}

#imgContainer{
    // height:200px;
    // width:200px;
    padding: 0;
    margin-right: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display:flex;
    flex-direction:column;
}

.landingName{
    color: $white;
}
