:root {
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.landings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $black;
    height: 100vh
}


h1{
    color: white;
    position: absolute;
    top: 100px
}

.infoLandings{
    color: #fff;
    width: 300px;
    margin-right: 20px
}

.infoMap{
    display: flex;
}


.leaflet-container {
    background: #303030;
    margin: 20px 50px auto auto;
    width: 70vw;
    height: 70vh;

}

.leaflet-tile {
    filter: var(--leaflet-tile-filter, none);
}

@media screen and (max-width:1268px){
    .leaflet-container {
        width: 50vh;
        height: 70vh;
    }
    h1{
        position: absolute;
        top: 100px
    }
}

@media screen and (max-width:930px){
    .leaflet-container {
        width: 30vh;
        height: 50vh;
    
    }
}

@media screen and (max-width:710px){
    .leaflet-container {
        width: 50vh;
        height: 50vh;
    
    }
    .infoLandings{
        display: none
    }

}

@media screen and (max-width:613px){
    .leaflet-container {
        width: 35vh;
        height: 50vh;
    
    }
    .infoLandings{
        display: none
    }

}

