@import '../utils/variables.scss';

.landingsList{
    background-image: $background;
    height: 125vh
}

.cardsContainer{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-top:0
}

.pagination{
    margin:0;
    color: $orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.searchData{
    color: $orange;
}

.botones{
    margin-bottom: 40px
}
.search{
    display: flex;
    justify-content:center;
    align-items:center;
}

.modalAdd{
    padding:10px;
    display: flex;
    justify-content:center;
    align-items:center;
}


.MuiCardMedia-root{
    max-width: 350px;
    transition: transform 1s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(80%);
}

.MuiCardMedia-root:hover{
    transform: scale(1.05);
}


.MuiPaper-root:hover{
    box-shadow: 2px 3px 46px -10px rgb(47, 1, 255);
}


.btns{
    margin-bottom: 40px
}

.search{
    display: flex;
    justify-content:center;
    align-items:center;
}

.modal{
    margin: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}

@media screen and (max-width: 1840px){
    .landingsList{
        height: 180vh
    }
}

@media screen and (max-width: 1226px){
    .landingsList{
        height: 230vh
    }
}


@media screen and (max-width: 920px){
    .landingsList{
        height: 320vh
    }
}

@media screen and (max-width: 617px){
    .landingsList{
        height: 600vh
    }
}