@import '../utils/variables.scss';

.landingsList{
    background-color: $black;
    height: 95vh
}

.cardsContainer{
    margin-top:150px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.pagination{
    color: $white;
    padding-top:150px;
    display: flex;
    justify-content:center;
}
