@import '@sweetalert2/theme-dark/dark.scss';
@import '../utils/variables.scss';


#visibility{
margin-top:15px
}

.loginInput{
    width: 300px
    }

.registerInput{
width: 300px
}

#visibilityRegister{
margin-top:15px
}

#eye{
    width: 20px
}

#registerP{
    color: #fff;
    max-height: 20px;
}

#recoverP{
    color: #fff;
    max-width:300px;
    max-height: 35px;
}

.MuiButtonBase-root{
    max-height: 35px;
}

.pError{
    color: $orange;
    max-width: 300px;
}