@import '@sweetalert2/theme-dark/dark.scss';


#visibility{
    position: absolute;
    top: 175px;
    left: 365px
}

#visibilityRegister{
    position: absolute;
    top: 235px;
    left: 340px
}

#eye{
    width: 20px
}

#registerP{
    color: #fff;
}