@import '../utils/variables.scss';

.nav{
 background-color: $purple;
 color: $orange;
 display: flex;
 justify-content: space-evenly;
 align-content: center;
 height:52px;
}

.nav-link{
    font-size:20px;
    letter-spacing:4px;
    margin-top:20px;
    color: $orange;
    text-decoration: none;
    z-index: 1;

}

.accSumary{
    color: $orange;
}

.accordion{

    width:250px;
    z-index: 1;
}

#panel1a-header{
    background-color:$purple;
    color:$orange;
    max-height: 47px;
    
}

.MuiTypography-body1{
    color:$orange;

}
.MuiPaper-root:hover{
    box-shadow: none;
}

#cart{
    width:20px;
    height:20px;
}

.cartContainer{
    display:flex;
    justify-content:center;
    align-items:center;
}

.MuiAccordion-root{
    width:100px;
}